.anchor-wrapper {
  position: relative;
}
.anchor-link {
  font-size: 80%;
  min-width: 1.25em;
  position: absolute;
}
.anchor-link.left {
  padding-right: .25em;
}
.anchor-link.right {
  padding-left: .25em;
}
